<mat-tab-group #tabGroup [(selectedIndex)]="selectedIdx" (selectedTabChange)="clearSelect($event)" animationDuration="400ms">
  <mat-tab *ngFor="let collection of collectionsItemsBasic" [label]="collection.title">
    <app-collections-form #collectionItem [collection]="collection"></app-collections-form>
  </mat-tab>
  <mat-tab *ngFor="let collectionChild of collectionsItemsChild" [label]="collectionChild.title">
    <app-collections-form-child #collectionItem [collection]="collectionChild"></app-collections-form-child>
  </mat-tab>
  <mat-tab label="Адреса">
    <app-collections-form-address></app-collections-form-address>
  </mat-tab>
</mat-tab-group>
