/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.donut-logo {
  height: 36px;
  margin-right: 5px;
  margin-top: 4px;
}

.spacer {
  flex: 1 1 auto;
}
.loading {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 20% auto;
}

.mat-row {
  -moz-user-select: none;
  user-select: none;
  &:not(.selected-row) {
    .mat-cell {
      &:hover {
        background-color: #f8f8f8;
        cursor: pointer;
      }
    }
  }
}
.selected-row {
  background-color: #ebebeb !important;
  .mat-cell {
    color: #522e92 !important;
  }
  .button-no-hidden {
    display: block;
  }
}
mat-dialog-container {
  padding: 0 !important;
}

.vendor-card {
  max-width: 400px;
  margin-bottom: 10px;
}
.content {
  padding: 10px !important;
  margin: 0 auto;
  width: 900px;
  .mat-elevation-z8 {
    .table-container {
      table {
        width: 100%;
      }
    }
  }
}
.table-container-collections {
  position: relative;
  max-height: 660px;
  overflow: auto;
}
.buttons-actions {
  button {
    margin: 0 5px;
    mat-icon {
      font-size: 1.6em;
    }
  }
}

.buttons-actions-first {
  margin-right: 5px;
}
.setting-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -5px;
}

.settings-item-3 {
  flex: 3;
}
.delete {
  text-align: end;
}

.filter {
  font-size: 14px !important;
}
.dialog {
  padding: 25px !important;
}
.dialog-buttons {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0 auto;
  button {
    margin: 0px !important;
    width: 200px;
    padding: 0;
    &:first-child {
      margin-right: 20px !important;
    }
  }
}

.buttons-actions-second {
  margin-left: 5px;
}

table {
  width: 100%;
}
