/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(./assets/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(./assets/fonts/MaterialIcons-Regular.woff2) format("woff2"), url(./assets/fonts/MaterialIcons-Regular.woff) format("woff"),
    url(./assets/fonts/MaterialIcons-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.donut-logo {
  height: 36px;
  margin-right: 5px;
  margin-top: 4px;
}

.spacer {
  flex: 1 1 auto;
}
.loading {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 20% auto;
}

.mat-row {
  -moz-user-select: none;
  user-select: none;
  height: 36px !important;
  &:not(.selected-row) {
    .mat-cell {
      &:hover {
        background-color: #f8f8f8;
        cursor: pointer;
      }
    }
  }
}
.selected-row {
  background-color: #ebebeb !important;
  .mat-cell {
    color: #522e92 !important;
  }
  .button-no-hidden {
    display: block;
  }
}
mat-dialog-container {
  padding: 0 !important;
}

.vendor-card {
  max-width: 400px;
  margin-bottom: 10px;
}
.content {
  padding: 10px !important;
  margin: 0 auto;
  width: 900px;
  .mat-elevation-z8 {
    .table-container {
      table {
        width: 100%;
      }
    }
  }
}
.table-container-collections {
  position: relative;
  max-height: 660px;
  overflow: auto;
}
.table-container-collections-child {
  position: relative;
  max-height: 610px;
  overflow: auto;
}
.buttons-actions {
  button {
    margin: 0 5px;
    mat-icon {
      font-size: 1.6em;
    }
  }
}

.buttons-actions-first {
  margin-right: 5px;
}
.setting-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -5px;
}

.settings-item-3 {
  flex: 3;
}
.delete {
  text-align: end;
}

.filter {
  font-size: 14px !important;
}
.dialog {
  padding: 25px !important;
}
.dialog-buttons {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0 auto;
  button {
    margin: 0px !important;
    width: 200px;
    padding: 0;
    &:first-child {
      margin-right: 20px !important;
    }
  }
}

.buttons-actions-second {
  margin-left: 5px;
}

table {
  width: 100%;
}
