/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.donut-logo {
  height: 36px;
  margin-right: 5px;
  margin-top: 4px;
}

.spacer {
  flex: 1 1 auto;
}
.loading {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 20% auto;
}
.selected-row {
  background-color: #ebebeb !important;
  .mat-cell {
    color: #522e92 !important;
  }
  .button-no-hidden {
    display: block;
  }
}
mat-dialog-container {
  padding: 0 !important;
}
