.drawer-content {
  width: 15vw;
  @media (max-width: 1450px) {
    width: 20vw;
  }
}

mat-drawer-container {
  height: calc(100% - 128px);
}

mat-drawer-content {
  padding: 0;
}
mat-nav-list {
  padding: 0;
}

[mat-list-item] {
  -moz-user-select: none;
  user-select: none;
  &.mat-list-item-disabled {
    background-color: #f5f5f5 !important;
    color: #cecece;
  }
  &.active-mat-nav-item {
    background-color: #ebebeb !important;
    color: #673ab7 !important;
  }
}

.second-mat-toolbar {
  -webkit-box-shadow: 0px 20px 10px -20px rgba(34, 60, 80, 1) inset;
  -moz-box-shadow: 0px 20px 10px -20px rgba(34, 60, 80, 1) inset;
  box-shadow: 0px 20px 10px -20px rgba(34, 60, 80, 1) inset;
}
