mat-toolbar {
  a {
    margin-left: 15px;
    &.active-mat-flat-button {
      background-color: #522e92 !important;
    }
    &:not([disabled]):not(.warn) {
      &:hover {
        background-color: #3c226a !important;
      }
    }
  }
}

.username {
  mat-icon {
    margin-right: 10px;
  }
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 36px;
}

.router-link__disable {
  pointer-events: none;
}
