.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.table-container {
  position: relative;
  max-height: 720px;
  overflow: auto;
}

mat-form-field {
  width: 30% !important;
}

.person {
  margin-top: 1.1em;
}
.button-hidden {
  display: none;
}

button {
  margin-right: 10px;
  mat-icon {
    font-size: 1.6em;
  }
}
.setting-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings-item {
  flex: 1;
}
.settings-item-2 {
  flex: 2;
}
.delete {
  text-align: end;
}

.mat-header-cell {
  color: black !important;
  background-color: #fff !important;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
}
