<div class="setting-menu">
  <div class="buttons-actions settings-item">
    <button routerLink="/audit/tech/new" mat-raised-button color="accent">Добавить <mat-icon>add</mat-icon></button>
    <button [routerLink]="['/audit/tech/', selectedRow]" *ngIf="selectedRow" mat-raised-button color="primary">Изменить <mat-icon>edit</mat-icon></button>
    <button *ngIf="selectedRow" disabled mat-raised-button color="basic">Создать акт <mat-icon>list_alt</mat-icon></button>
  </div>

  <!-- <div class="div">выбранный:{{ selectedRow }}</div> -->

  <mat-form-field color="basic" class="settings-item" appearance="standard">
    <mat-label>Фильтр</mat-label>
    <input [(ngModel)]="filterValue" matInput (keyup)="applyFilter($event)" placeholder="Значение для фильтра" #input />
    <button color="primary" (click)="clearFilter()" class="filter-icon" mat-icon-button aria-label="Example icon-button with a heart icon">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>
  <div class="settings-item test">
    <button *ngIf="selectedRow" mat-raised-button color="warn">Удалить<mat-icon>delete</mat-icon></button>
  </div>
</div>
<div class="mat-elevation-z8" *ngIf="!loading">
  <div class="table-container">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort (matSortChange)="sortData()" matSortDirection="desc" class="mat-elevation-z8">
      <ng-container matColumnDef="deviceTypeName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Тип</th>
        <td mat-cell *matCellDef="let element">{{ element.deviceTypeName }}</td>
        <td mat-footer-cell *matFooterCellDef>Всего: {{ dataSource ? dataSource.filteredData.length : devices.length }}</td>
      </ng-container>
      <ng-container matColumnDef="deviceModel">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Модель</th>
        <td mat-cell *matCellDef="let element">{{ element.deviceModel }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="serialNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Серийный номер</th>
        <td mat-cell *matCellDef="let element">{{ element.serialNumber }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="inventoryNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Инвентарный номер</th>
        <td mat-cell *matCellDef="let element">{{ element.inventoryNumber }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="ipAdress">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>IP-адрес</th>
        <td mat-cell *matCellDef="let element">{{ element.ipAdress ? element.ipAdress : "не указан" }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row class="table-headers" *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row (click)="selectedRow = element._id" [class.selected-row]="selectedRow === element._id" *matRowDef="let element; columns: displayedColumns"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
  </div>
</div>
<div class="loading" *ngIf="loading">
  <mat-spinner diameter="70" color="accent"></mat-spinner>
</div>
