<div>
  <mat-toolbar color="primary">
    <a mat-button routerLink="/login">
      <img class="donut-logo" src="assets/webp/donut-logo.webp" alt="donut-logo.webp" />
      Информационный портал ОИТ
    </a>
    <span class="spacer"></span>
    <a mat-flat-button color="primary" routerLink="/login" routerLinkActive="active-mat-flat-button">Вход </a>

    <a mat-button routerLink="/reset" routerLinkActive="active-mat-flat-button">Востановить пароль </a>
  </mat-toolbar>
</div>
<main class="main">
  <router-outlet></router-outlet>
</main>
